@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
     font-weight: 300;
    font-style: normal;
}
body{
    background-color: rgb(29, 29, 79);
    color: white;

}
.container{
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(45, 45, 112);
    border-radius: 10px;
}
.product-detail{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}
.product-gallery{
    display: grid;
    grid-template-columns:  100px 1fr;
    gap: 30px;
}
.product-info{
    padding: 10px;
}
.product-title{
    font-size: 28px;
    margin-bottom: 10px;
}
.product-description{
    margin-bottom: 17px;
    
}
.add-to-cart-btn{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.product-price{
    font-size: 24px;
    color: orange;
    margin-bottom: 20px;
    font-weight: 500;
}
.thumbnail{
    
    max-height: 450px;
    overflow-y: auto;
    direction: rtl;
}
.thumbnail img{
    
  width: 80px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
    border: 2px solid transparent;
}
.main-product img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    
}
.related-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}
.related-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.related{
    padding-top:10px;
}
.related h3{
    border-left: 5px solid orange;
    padding-left: 10px;
}
@media (max-width: 768px) {
    .product-detail{
        grid-template-columns: 1fr;
    }
    .product-gallery{
        grid-template-columns: 1fr;
    }
    .main-product{
        order: 1;
    }
    .thumbnail{
        order: 2;
        display: flex;
        direction: ltr;
        gap: 8px;
        overflow-y: auto;
    }
    .related-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
